.container-fluid{
    max-width: 40%;
    margin-top: 50px
}

ul{
    margin-top: 16px;
}

.nav-item{
    /* margin: auto; */
    width: 50%;
    padding: 5px;
    text-align: center;
}

.nav-link:hover {
    background: #0000CD;
    color: white;
}